
.sidebar {
    position: absolute;
    top: 100px;
    left: -15vw;
    height: 100%;
    width: 15vw;
    transition: left 0.3s ease-in-out;
    background-color: white;
    border-right: 2px solid lightgrey;
    border-top: 6px solid lightgrey;
}

.sidebar-toggle {
    position: absolute;
    top: 40%;
    right: -10px;
    height: 40px;
    z-index: 1;
}

.content {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    height: 100%;
    transition: left 0.3s ease-in-out;
    background-color:white;
}

.sidebar.open {
    left: 0;
}

.content.open {
    left: 15vw;
}

.icon{
    color: skyblue;
}